body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Title of the module */
.main-title {
  margin: 0 auto;
  text-align: center;
}

/* Main container of the module JardinetteMeteo */
.weather {
  background-color: #deffa6;
  margin: 2rem auto;
  padding-bottom: 1.5rem;
  text-align: center;
  width: 30%;
  min-width: 265px;
  max-width: 370px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.weather__main {}

/* Main part */
.weather__title {
  font-size: 2rem;
}

div.weather__day {
  text-transform: capitalize;
}

.weather__day {
  font-size: 1.6rem;
  margin: .5rem;
}

.weather__icon {
  transform: scale(2);
  margin: 2rem;
}

.weather__description {
  margin: .5rem;
  padding: .5rem;
}

.weather__alert {
  font-size: 1.3rem;
  color: rgb(251, 97, 7);
  font-weight: bold;
  margin: .5rem 0;
}

/* Temperature and Wind*/
.weather__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather__temperature,
.weather__wind,
.weather__location {
  display: flex;
  align-items: center;
  margin: .2rem 0 .2rem -1.5rem;
  
}
.weather__location {
  flex-direction: column;
}


.weather__temperature__values {
  display: flex;
}

.weather__temperature__values__item {
  margin: 0 .2rem;
}

i.weather__temperature__icon,
i.weather__location__icon {
  font-size: 1.5rem;
  margin: .5rem .2rem .5rem .2rem;
}

i.wi-wind {
  font-size: 2rem;
  margin-left: .1rem;
  margin-right: .2rem;
}


.weather__wind__values,
.weather__wind__direction,
.weather__location__city-name {
  margin: 0 .2rem;
}

.weather__location__button{
  background-color: #FBB02D;
  font-weight: bold;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 1rem;
}
/* Other classes used with javascript */
.hidden {
  display: none;
}